@font-face {
    font-family: 'Craft Gothic';
    src: local('Craft Gothic Condensed'), local('Craft-Gothic-Condensed'),
        url('CraftGothic-Condensed.woff2') format('woff2'),
        url('CraftGothic-Condensed.woff') format('woff'),
        url('CraftGothic-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }